assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
vendor/*
web/phpMyAdmin/*
tests/*
vagrant/*
.idea/*
config/db.php
.idea/ourCRM.iml
.idea/ourCRM.iml
config/db.php
.idea/workspace.xml
.idea/workspace.xml
