assets/AppAsset.php
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
vendor/*
web/phpMyAdmin/*
tests/*
vagrant/*
.idea/*
config/db.php
node_modules/*
web/js/bundle.js
