html,
body {
    height: 100%;
}

li > a {
    color: #9d9d9d;
}

body {
    background-color: #f7f7f7;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.post {
    border: 1px solid #e8e8e8;
    max-width: 400px;
    margin: 10px 0 10px 0;
}

.post:hover {
    transition: 0.5s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.col {
    width: 23%;
    float: left;
    margin: 10px;
}


.post_number {
    font-size: 10px;
}

.btn_more {
    font-size: 12px;
    float: right;
    padding: 0;
}

.active_button {
    float: right;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav > li > a
.back {
    padding-top: 50px;
    margin-top: 60px;
}

.form_wrap {
    background-color: #fff;
    width: 500px;
    border: 1px solid #e8e8e8;
}

.form_wrap:hover {
    transition: 3s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
}

.inner_form {
    padding: 40px;
}

.input_style {
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input_style:hover {
    transition: 0.5s;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);;
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .075);;
}

.input_style:focus {
    transition: 0.5s;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);;
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);;
}

.btn_create {
    padding: 10px;
    width: 150px;
    text-align: -webkit-center;
    border: 1px solid #1b809e;
    border-radius: 3px;
}

.btn_create:hover {

}

.more_btn {
    color: #1b809e;
}